@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
   --main-color:#01A84D;
   --secondary-color:#96E3B9;
   --wh-color: #FFFFFF;


}
body{
   background-color: var(--wh-color);
   font-family: "Roboto",sans-serif;
}


